//Home styles
body
{
/*background-color:  red;*/
}
.container{
	width: 1000px;
	height:400px;
}
.left{
	height: 400px;
	width: 300px;
  background-color: red;
  float: right;
}
.right{
	height: 400px;
	width: 700px;
  background-color: orange;
  float: left;
}
.anchor{
  text-decoration: none;
}
.welcome{
      color: green;
  font-style: bold;
}
